*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #efefef;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#header,
#footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


#middle {
    flex: 9;
    display: flex;
    align-items: center;
}

#middle > div {
    flex: 1;
}

#middle > #sketch_pad {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 2rem;
    align-items: center;
    height: 700px;
    min-width: 700px;
    border: 1px solid #d22d2d;
    background-color: #d22d2d;
    padding: 1rem;
    box-shadow: 0.2rem 0.4rem 0.4rem black,
    -0.1rem -0.3rem 0.4rem black;
}

#sketch_pad h1 {
    color: #f3da4b;
}

#grid_container {
    display: flex;
    flex-direction: column;
    background-color: #e8dfcf;
    height: 515px;
    width: 515px;
    border-radius: 1rem;
    border: black solid 3px;
    box-shadow: inset 0.5rem 0.5rem 1rem black,
    inset -2px -2px 1rem black,
    -3px -2px 4px #e8dfcf,
    2px 3px 4px #e8dfcf;
}

.row {
    flex: 1;
    display: flex;
}


.square {
    flex: 1;
    border: 0.2px solid #410d0d;
    display: flex;
}

.row_0 > .square_0 {
    border-top-left-radius: 0.9rem;
}

.row_0 > .square_15 {
    border-top-right-radius: 0.9rem;
}

.row_15 > .square_0 {
    border-bottom-left-radius: 0.9rem;
}

.row_15 > .square_15 {
    border-bottom-right-radius: 0.9rem;
}