@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Atma';
}

body {
    line-height: 1.6;
    background-color: #333;
    color: #efefef;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#header,
#footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


#middle {
    flex: 9;
    display: flex;
    align-items: center;
}

#middle > div {
    flex: 1;
}

#middle > #sketch_pad {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 2rem;
    align-items: center;
    height: 850px;
    width: 850px;
    border: 1px solid #d22d2d;
    background-color: #d22d2d;
    padding: 1rem;
    box-shadow: 0.2rem 0.4rem 0.4rem black,
    -0.1rem -0.3rem 0.4rem black;
}

#sketch_pad > div {
    flex: 1;
    width: 650px;
}


#sketch_pad h1 {
    color: #f3da4b;
    text-shadow: 1px 4px black;
    position: absolute;
}

#sketch_pad > #grid_container {
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: #e8dfcf;

    width: 577.1px;
    border-radius: 1rem;
    border: black solid 3px;
    box-shadow: 
    -3px -2px 4px #e8dfcf,
    2px 3px 4px #e8dfcf;
}

.row {
    flex: 1; 
    display: flex;

}


.square {
    flex: 1;
    border: 0.2px solid black;
    display: flex;
}

.no_borders_square {
    border: none !important;
}

.borders_button_active {
    background-color: black !important;
    color: #e8dfcf !important;
    text-shadow: .2px .2px .5px #e8dfcf;
    box-shadow: inset 1px 1px 5px #e8dfcf;
}

.row_0 > .square_0 {
    border-top-left-radius: 0.9rem;
}

.row_0 > .square_15 {
    border-top-right-radius: 0.9rem;
}

.row_15 > .square_0 {
    border-bottom-left-radius: 0.9rem;
}

.row_15 > .square_15 {
    border-bottom-right-radius: 0.9rem;
}

#sketch_pad > #footer {
    display: flex;
}

#footer > div,
#header > div {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

#header>#title_container {
    flex: 2;
    justify-content: center;
}

#header_right_container {
    justify-content: flex-end;
}
#footer_right_side {
    justify-content: flex-end;
}


#knob_container,
#button_container {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: black solid .3rem;
    background-color: #777676;
    box-shadow: inset 1px 0.5px .5px 1px #e8dfcf,
    inset -0.5px -1.5px .5px #e8dfcf,
    1px .5px 1px black,
    -0.5px -1px 2px black;
    padding: 5px;
    position: relative;
}

#knob_pointer {
    background-color: #333;
    box-shadow: 1px 1px 1px #e8dfcf;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
  }

  #min_mark {
    position: absolute;
    top: 39px;
    left: 7px;
    font-size: small;
  }

  #max_mark {
    position: absolute;
    top: 39px;
    right: 7px;
    font-size: small;
  }



  #knob_range {
    position: absolute;
    height: 40px;
    top: 20%;
    width: 90%;
    opacity: 0;
    cursor: pointer;
  }

  #button_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #clear_grid_button {
    flex: 1;
    height: 99%;
    border-radius: 50%;
    background-color: #777676;
    cursor: pointer;
  }

  .displays {
    background-color: #e8dfcf;
    border-radius: 1rem;
    border: black solid 3px;
    box-shadow: inset 1px 1px 1rem black,
    inset -1px -1px 1rem black,
    -1px -1px 1px #e8dfcf,
    1px 1px 1px #e8dfcf;
    height: 6.5rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #menu_group_one,
  #menu_group_two {
    flex: 1;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu > button {
    border-style: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-size: 15px;
    height: 2.7rem;
    flex: 1;
    flex-wrap: wrap;
    border-radius: 8px;
    cursor: pointer;
}



